<div class="container px-4">
    {{!-- Need to have button for each post --}}
    {{!-- Add ID to button --}}
    {{!-- Use partials --}}
    {{#each dashboard.posts as |post|}}
    {{> dashboard-posts}}
    {{/each}}
</div>