<div class="container px-4">
    <div class="card col-12 border border-dark">
        <div class="card-body">
            <h5 class="card-title bg-dark text-white">{{post.title}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{post.user.username}} - {{post.date}}</h6>
            <p class="card-text">{{post.text}}</p>
        </div>
    </div>

    <br />

    {{!-- Display all comments --}}
    {{#each post.comments as |comment|}}
        {{> comment}}
    {{/each}}

    {{#if loggedIn}}
    <form id="commentForm">
        <div class="mb-3">
            <label for="commentInput" class="form-label">Comment:</label>
            <textarea type="text" class="form-control" id="commentInput">Input your comment here</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {{/if}}
</div>